.introduction-page {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

// 响应式设计
@media (max-width: 768px) {
  .introduction-page {
    height: 100%;
  }
}

@media (max-width: 480px) {
  .introduction-page {
    height: 100%;
  }
}